body {
    font-family: Helvetica;
    background-color: #FFFCF2;
}

.outer {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 100%;   
}

span {
    border: 3px solid #F28B20;
    text-align: center;
}

.block_box {
    display: block;
    height: 2em;
}

.inline_box {
    display: inline;
    height: 2em;
}

.inline_block_box {
    display: inline-block;
    height: 2em;
}