.outer {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 100%;
}

span {
    /* display: inline-block; */
    width: 140px;
    border: 2px solid red;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.block_box {
    display: block;
}

.inline_box {
    display: inline;
}

.inline_block_box {
    display: inline-block;
}