body {
    background-color: #FFFCF2;
    border: 5px solid #252422;
    border-radius: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 46px;
    color: #252422;
    text-align: center;
    display: flex;
    gap: 20px;
    margin: 5vh 5vw;
    height: 90vh;
    width: 90vw;
}

.flex-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80vw;
    gap: 20px;
}

.buttons {
    align-items: end;
}

.display {
    display: flex;
    height: 300px;
}

.display>div {
    flex: 1;
    display: flex;
}

.text-box {
    font-size: 36px;
    display: block;
    text-align: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score>div {
    flex: 1;
}

.result {
    margin-top: -20px;
    margin-bottom: 20px;
}

img {
    height: 200px;
    width: auto;
    padding: 0;
    margin: 0;
}

.img-wrap {
    height: 250px;
    width: 250px;
    display: block;
    border: 2px solid #3b3a37;
    border-radius: 15px;
    padding: 18px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}