body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
  background-color: #dad6d6;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  min-width: 300px;
  min-height: 500px;
  border: 3px solid #03120e;
  border-radius: 4% / 3%;
  aspect-ratio: 3/4;
  height: 80vh;
  margin: 5vh auto;
  padding: 2% 0;
  gap: 3%;
  background-color: #40798c;
}

.display-screen {
  flex: 1;
  border: 3px solid #03120e;
  border-radius: 5px;
  height: 100%;
  width: 85%;
  background-color: #cfe0c3;
}

.display-screen > div {
  display: flex;
  /* border: 3px solid black; */
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

#prev-calc {
  flex: 1;
  height: 25%;
  font-size: 1em;
}

#cur-calc {
  flex: 3;
  height: 75%;
  font-size: 2em;
}

.row {
  flex: 1;
  width: 100%;
  gap: 2%;
}

.button-canvas {
  flex: 5;
  /* border: 2px solid black; */
  /* border-radius: 4%/3%; */
  width: 85%;
  height: 100%;
  gap: 2%;
}

.button-wrappers {
  aspect-ratio: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operators,
.equal {
  background-color: #f28b20;
}

.accessory {
  background-color: #dbd8cf;
}

button {
  flex: 1;
  background-color: #a2a09a;
  display: block;
  border: 3px solid #03120e;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 100%;
  font-size: 200%;
}
